## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

# DATA PREPARATION

### Importing Python libraries commonly used for data manipulation, numerical computations, and data visualization. We will be using then with our data set

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pylab as plt
import seaborn as sns
import sqlite3
from scipy import stats

### Importing the  1st csv file using pandas inorder to enable looking into the data

In [89]:
df= pd.read_csv('data/bom.movie_gross.csv')
df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

### Importing the  2nd csv file using pandas inorder to enable looking into the data

In [90]:
df_1 = pd.read_csv('data/tmdb.movies.csv')
df_1

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...,...
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

### Importing the  3rd csv file using pandas inorder to enable looking into the data

In [4]:
df_2= pd.read_csv('data/tn.movie_budgets.csv')
df_2

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

### Looking into the Sqlite database inorder to enable looking into the data

In [5]:
conn = sqlite3.connect('data/im.db')
cur = conn.cursor()
cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cur.fetchall()
print(tables)

[('movie_basics',), ('directors',), ('known_for',), ('movie_akas',), ('movie_ratings',), ('persons',), ('principals',), ('writers',)]

In [6]:
'''df_10 = pd.read_sql("""
SELECT movie_id, primary_title, runtime_minutes, genres, averagerating, numvotes, region, language, primary_name as writer_name, death_year as writer_death_year
FROM movie_basics
JOIN movie_ratings
USING(movie_id) 
JOIN movie_akas
USING (movie_id)
JOIN writers
USING(movie_id) 
JOIN persons
USING (person_id)
""",conn)
df_10'''

'df_10 = pd.read_sql("""\nSELECT movie_id, primary_title, runtime_minutes, genres, averagerating, numvotes, region, language, primary_name as writer_name, death_year as writer_death_year\nFROM movie_basics\nJOIN movie_ratings\nUSING(movie_id) \nJOIN movie_akas\nUSING (movie_id)\nJOIN writers\nUSING(movie_id) \nJOIN persons\nUSING (person_id)\n""",conn)\ndf_10'

In [7]:
'''df_11 = pd.read_sql("""
SELECT movie_id, primary_name as director_name, death_year as director_death_year
FROM movie_basics
JOIN movie_ratings
USING(movie_id) 
JOIN movie_akas
USING (movie_id)
JOIN directors
USING(movie_id) 
JOIN persons
USING (person_id)
""",conn)
df_11'''

'df_11 = pd.read_sql("""\nSELECT movie_id, primary_name as director_name, death_year as director_death_year\nFROM movie_basics\nJOIN movie_ratings\nUSING(movie_id) \nJOIN movie_akas\nUSING (movie_id)\nJOIN directors\nUSING(movie_id) \nJOIN persons\nUSING (person_id)\n""",conn)\ndf_11'

In [8]:
df_3 = pd.read_sql("""
SELECT *
FROM movie_basics
JOIN movie_ratings
USING(movie_id) 
JOIN writers
USING(movie_id) 
""",conn)
print(df_3)

         movie_id               primary_title              original_title  \
0       tt0063540                   Sunghursh                   Sunghursh
1       tt0063540                   Sunghursh                   Sunghursh
2       tt0063540                   Sunghursh                   Sunghursh
3       tt0063540                   Sunghursh                   Sunghursh
4       tt0069049  The Other Side of the Wind  The Other Side of the Wind
...           ...                         ...                         ...
169298  tt9914286           Sokagin Ã‡ocuklari           Sokagin Ã‡ocuklari
169299  tt9914642                   Albatross                   Albatross
169300  tt9914642                   Albatross                   Albatross
169301  tt9914942  La vida sense la Sara Amat  La vida sense la Sara Amat
169302  tt9914942  La vida sense la Sara Amat  La vida sense la Sara Amat

        start_year  runtime_minutes              genres  averagerating  \
0             2013            175.0  Action,Crime,Drama            7.0
1             2013            175.0  Action,Crime,Drama            7.0
2             2013            175.0  Action,Crime,Drama            7.0
3             2013            175.0  Action,Crime,Drama            7.0
4             2018            122.0               Drama            6.9
...            ...              ...                 ...            ...
169298        2019             98.0        Drama,Family            8.7
169299        2017              NaN         Documentary            8.5
169300        2017              NaN         Documentary            8.5
169301        2019              NaN                None            6.6
169302        2019              NaN                None            6.6

        numvotes  person_id
0             77  nm0023551
1             77  nm0347899
2             77  nm1194313
3             77  nm1391276
4           4517  nm0000080
...          ...        ...
169298       136  nm4394529
169299         8  nm5300859
169300         8  nm7332227
169301         5  nm3678448
169302         5  nm9361716

[169303 rows x 9 columns]

In [9]:
df_3

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,person_id
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0347899
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm1194313
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm1391276
4,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,6.9,4517,nm0000080
...,...,...,...,...,...,...,...,...,...
169298,tt9914286,Sokagin Ã‡ocuklari,Sokagin Ã‡ocuklari,2019,98.0,"Drama,Family",8.7,136,nm4394529
169299,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8,nm5300859
169300,tt9914642,Albatross,Albatross,2017,NaN,Documentary,8.5,8,nm7332227
169301,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,None,6.6,5,nm3678448
169302,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,NaN,None,6.6,5,nm9361716

In [10]:
df_temp = pd.read_sql("""
SELECT DISTINCT movie_id, region, language, primary_name, death_year
FROM movie_basics
JOIN directors
USING(movie_id) 
JOIN persons
USING (person_id)
JOIN movie_akas
USING(movie_id)
""",conn)
print(df_3)

         movie_id               primary_title              original_title  \
0       tt0063540                   Sunghursh                   Sunghursh
1       tt0063540                   Sunghursh                   Sunghursh
2       tt0063540                   Sunghursh                   Sunghursh
3       tt0063540                   Sunghursh                   Sunghursh
4       tt0069049  The Other Side of the Wind  The Other Side of the Wind
...           ...                         ...                         ...
169298  tt9914286           Sokagin Ã‡ocuklari           Sokagin Ã‡ocuklari
169299  tt9914642                   Albatross                   Albatross
169300  tt9914642                   Albatross                   Albatross
169301  tt9914942  La vida sense la Sara Amat  La vida sense la Sara Amat
169302  tt9914942  La vida sense la Sara Amat  La vida sense la Sara Amat

        start_year  runtime_minutes              genres  averagerating  \
0             2013            175.0  Action,Crime,Drama            7.0
1             2013            175.0  Action,Crime,Drama            7.0
2             2013            175.0  Action,Crime,Drama            7.0
3             2013            175.0  Action,Crime,Drama            7.0
4             2018            122.0               Drama            6.9
...            ...              ...                 ...            ...
169298        2019             98.0        Drama,Family            8.7
169299        2017              NaN         Documentary            8.5
169300        2017              NaN         Documentary            8.5
169301        2019              NaN                None            6.6
169302        2019              NaN                None            6.6

        numvotes  person_id
0             77  nm0023551
1             77  nm0347899
2             77  nm1194313
3             77  nm1391276
4           4517  nm0000080
...          ...        ...
169298       136  nm4394529
169299         8  nm5300859
169300         8  nm7332227
169301         5  nm3678448
169302         5  nm9361716

[169303 rows x 9 columns]

In [11]:
df_temp2 = pd.read_sql("""
SELECT DISTINCT movie_id, primary_name as writer
FROM movie_basics
JOIN writers
USING(movie_id) 
JOIN persons
USING (person_id)
""",conn)
print(df_temp2)

         movie_id                  writer
0       tt0063540              Abrar Alvi
1       tt0063540                  Gulzar
2       tt0063540          Mahasweta Devi
3       tt0063540           Anjana Rawail
4       tt0069049            Orson Welles
...           ...                     ...
178103  tt9916622   Ana CÃ©lia de Oliveira
178104  tt9916706        Dr. Sudhir Nikam
178105  tt9916730            Kiran Gawade
178106  tt9916754  Vinicius Augusto Bozzo
178107  tt9916754           Angela Gurgel

[178108 rows x 2 columns]

In [12]:
df_temp = df_temp.merge(df_temp2, how='left', on='movie_id')

In [13]:
df_temp

,movie_id,region,language,primary_name,death_year,writer
0,tt0063540,None,None,Harnam Singh Rawail,2004.0,Abrar Alvi
1,tt0063540,None,None,Harnam Singh Rawail,2004.0,Gulzar
2,tt0063540,None,None,Harnam Singh Rawail,2004.0,Mahasweta Devi
3,tt0063540,None,None,Harnam Singh Rawail,2004.0,Anjana Rawail
4,tt0063540,IN,None,Harnam Singh Rawail,2004.0,Abrar Alvi
...,...,...,...,...,...,...
768307,tt9916170,BR,None,Tamar Guimaraes,NaN,Tamar Guimaraes
768308,tt9916170,BR,None,Tamar Guimaraes,NaN,Lillah Halla
768309,tt9916170,XWW,en,Tamar Guimaraes,NaN,Melissa de Raaf
768310,tt9916170,XWW,en,Tamar Guimaraes,NaN,Tamar Guimaraes
768311,tt9916170,XWW,en,Tamar Guimaraes,NaN,Lillah Halla

In [14]:
df_3 = df_3.merge(df_temp, how= 'inner', on='movie_id')

In [15]:
#df_10

In [16]:
df_3

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,person_id,region,language,primary_name,death_year,writer
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,None,Harnam Singh Rawail,2004.0,Abrar Alvi
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,None,Harnam Singh Rawail,2004.0,Gulzar
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,None,Harnam Singh Rawail,2004.0,Mahasweta Devi
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,None,Harnam Singh Rawail,2004.0,Anjana Rawail
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,IN,None,Harnam Singh Rawail,2004.0,Abrar Alvi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75629116,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,None,None,Vineesh Aaradya,NaN,Anooja Kozhikode
75629117,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,None,None,Vineesh Aaradya,NaN,Thankayam Sasikumar
75629118,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,IN,ml,Vineesh Aaradya,NaN,Vineesh Aaradya
75629119,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,IN,ml,Vineesh Aaradya,NaN,Anooja Kozhikode
75629120,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,IN,ml,Vineesh Aaradya,NaN,Thankayam Sasikumar

In [17]:
df_3.duplicated().sum()

np.int64(71745438)

In [18]:
df_3.drop_duplicates(inplace=True)

### Joining the dataframes

In [91]:
joined_data = df_3.copy()

In [92]:
joined_data.merge(df_1, how = 'left', left_on = 'primary_title', right_on = 'title')
joined_data = joined_data.merge(df_1, how='left', left_on='primary_title', right_on='title')

In [93]:
joined_data

,movie_id,primary_title,original_title_x,start_year,runtime_minutes,genres,averagerating,numvotes,person_id,region,...,Unnamed: 0,genre_ids,id,original_language,original_title_y,popularity,release_date,title,vote_average,vote_count
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,IN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4059853,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4059854,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4059855,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,IN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4059856,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,IN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4059857,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,IN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [94]:
df_2

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [95]:
joined_data = joined_data.merge(df_2, how='left', left_on='primary_title', right_on='movie')

In [96]:
joined_data

,movie_id,primary_title,original_title_x,start_year,runtime_minutes,genres,averagerating,numvotes,person_id,region,...,release_date_x,title,vote_average,vote_count,id_y,release_date_y,movie,production_budget,domestic_gross,worldwide_gross
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,IN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4087842,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4087843,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4087844,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,IN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4087845,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,IN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4087846,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,IN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
df = df.set_index('title')
df

,studio,domestic_gross,foreign_gross,year
title,,,,
Toy Story 3,BV,415000000.0,652000000,2010
Alice in Wonderland (2010),BV,334200000.0,691300000,2010
Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
Inception,WB,292600000.0,535700000,2010
Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...
The Quake,Magn.,6200.0,NaN,2018
Edward II (2018 re-release),FM,4800.0,NaN,2018
El Pacto,Sony,2500.0,NaN,2018
The Swan,Synergetic,2400.0,NaN,2018
An Actor Prepares,Grav.,1700.0,NaN,2018

In [98]:
joined_data =joined_data.set_index('primary_title')
joined_data

,movie_id,original_title_x,start_year,runtime_minutes,genres,averagerating,numvotes,person_id,region,language,...,release_date_x,title,vote_average,vote_count,id_y,release_date_y,movie,production_budget,domestic_gross,worldwide_gross
primary_title,,,,,,,,,,,,,,,,,,,,,
Sunghursh,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sunghursh,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sunghursh,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sunghursh,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sunghursh,tt0063540,Sunghursh,2013,175.0,"Action,Crime,Drama",7.0,77,nm0023551,IN,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Padmavyuhathile Abhimanyu,tt9911774,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Padmavyuhathile Abhimanyu,tt9911774,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,None,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Padmavyuhathile Abhimanyu,tt9911774,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,IN,ml,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Padmavyuhathile Abhimanyu,tt9911774,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,IN,ml,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Padmavyuhathile Abhimanyu,tt9911774,Padmavyuhathile Abhimanyu,2019,130.0,Drama,8.4,365,nm10536454,IN,ml,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
joined_data = joined_data.combine_first(df)

In [100]:
joined_data =joined_data.reset_index()
joined_data =joined_data.rename(columns ={'index':'primary_title'})
joined_data

,primary_title,Unnamed: 0,averagerating,death_year,domestic_gross,foreign_gross,genre_ids,genres,id_x,id_y,...,release_date_y,runtime_minutes,start_year,studio,title,vote_average,vote_count,worldwide_gross,writer,year
0,#1 Serial Killer,NaN,5.6,NaN,NaN,NaN,NaN,Horror,NaN,NaN,...,NaN,87.0,2013.0,NaN,NaN,NaN,NaN,NaN,Koji Steven Sakai,NaN
1,#1 Serial Killer,NaN,5.6,NaN,NaN,NaN,NaN,Horror,NaN,NaN,...,NaN,87.0,2013.0,NaN,NaN,NaN,NaN,NaN,Koji Steven Sakai,NaN
2,#5,NaN,6.8,NaN,NaN,NaN,NaN,"Biography,Comedy,Fantasy",NaN,NaN,...,NaN,68.0,2013.0,NaN,NaN,NaN,NaN,NaN,Ricky Bardy,NaN
3,#66,NaN,5.3,NaN,NaN,NaN,NaN,Action,NaN,NaN,...,NaN,116.0,2015.0,NaN,NaN,NaN,NaN,NaN,Asun Mawardi,NaN
4,#66,NaN,5.3,NaN,NaN,NaN,NaN,Action,NaN,NaN,...,NaN,116.0,2015.0,NaN,NaN,NaN,NaN,NaN,Matthew Ryan Fischer,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4088706,Ã¤rtico,NaN,6.6,NaN,NaN,NaN,NaN,Drama,NaN,NaN,...,NaN,78.0,2014.0,NaN,NaN,NaN,NaN,NaN,Carlos Unamuno,NaN
4088707,Å iÅ¡ka Deluxe,NaN,6.3,NaN,NaN,NaN,NaN,"Comedy,Drama",NaN,NaN,...,NaN,108.0,2015.0,NaN,NaN,NaN,NaN,NaN,Jan Cvitkovic,NaN
4088708,Å iÅ¡ka Deluxe,NaN,6.3,NaN,NaN,NaN,NaN,"Comedy,Drama",NaN,NaN,...,NaN,108.0,2015.0,NaN,NaN,NaN,NaN,NaN,Jan Cvitkovic,NaN
4088709,Å iÅ¡ka Deluxe,NaN,6.3,NaN,NaN,NaN,NaN,"Comedy,Drama",NaN,NaN,...,NaN,108.0,2015.0,NaN,NaN,NaN,NaN,NaN,Jan Cvitkovic,NaN
4088710,Å iÅ¡ka Deluxe,NaN,6.3,NaN,NaN,NaN,NaN,"Comedy,Drama",NaN,NaN,...,NaN,108.0,2015.0,NaN,NaN,NaN,NaN,NaN,Jan Cvitkovic,NaN

In [101]:
joined_data[joined_data['primary_title']=='Toy Story 3']

,primary_title,Unnamed: 0,averagerating,death_year,domestic_gross,foreign_gross,genre_ids,genres,id_x,id_y,...,release_date_y,runtime_minutes,start_year,studio,title,vote_average,vote_count,worldwide_gross,writer,year
3581047,Toy Story 3,7.0,8.3,NaN,"$415,004,880",652000000,"[16, 10751, 35]","Adventure,Animation,Comedy",10193.0,47.0,...,"Jun 18, 2010",103.0,2010.0,BV,Toy Story 3,7.7,8340.0,"$1,068,879,522",Andrew Stanton,2010.0
3581048,Toy Story 3,7.0,8.3,NaN,"$415,004,880",652000000,"[16, 10751, 35]","Adventure,Animation,Comedy",10193.0,47.0,...,"Jun 18, 2010",103.0,2010.0,BV,Toy Story 3,7.7,8340.0,"$1,068,879,522",John Lasseter,2010.0
3581049,Toy Story 3,7.0,8.3,NaN,"$415,004,880",652000000,"[16, 10751, 35]","Adventure,Animation,Comedy",10193.0,47.0,...,"Jun 18, 2010",103.0,2010.0,BV,Toy Story 3,7.7,8340.0,"$1,068,879,522",Lee Unkrich,2010.0
3581050,Toy Story 3,7.0,8.3,NaN,"$415,004,880",652000000,"[16, 10751, 35]","Adventure,Animation,Comedy",10193.0,47.0,...,"Jun 18, 2010",103.0,2010.0,BV,Toy Story 3,7.7,8340.0,"$1,068,879,522",Michael Arndt,2010.0
3581051,Toy Story 3,7.0,8.3,NaN,"$415,004,880",652000000,"[16, 10751, 35]","Adventure,Animation,Comedy",10193.0,47.0,...,"Jun 18, 2010",103.0,2010.0,BV,Toy Story 3,7.7,8340.0,"$1,068,879,522",Andrew Stanton,2010.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3581586,Toy Story 3,7.0,8.3,NaN,"$415,004,880",652000000,"[16, 10751, 35]","Adventure,Animation,Comedy",10193.0,47.0,...,"Jun 18, 2010",103.0,2010.0,BV,Toy Story 3,7.7,8340.0,"$1,068,879,522",Michael Arndt,2010.0
3581587,Toy Story 3,7.0,8.3,NaN,"$415,004,880",652000000,"[16, 10751, 35]","Adventure,Animation,Comedy",10193.0,47.0,...,"Jun 18, 2010",103.0,2010.0,BV,Toy Story 3,7.7,8340.0,"$1,068,879,522",Andrew Stanton,2010.0
3581588,Toy Story 3,7.0,8.3,NaN,"$415,004,880",652000000,"[16, 10751, 35]","Adventure,Animation,Comedy",10193.0,47.0,...,"Jun 18, 2010",103.0,2010.0,BV,Toy Story 3,7.7,8340.0,"$1,068,879,522",John Lasseter,2010.0
3581589,Toy Story 3,7.0,8.3,NaN,"$415,004,880",652000000,"[16, 10751, 35]","Adventure,Animation,Comedy",10193.0,47.0,...,"Jun 18, 2010",103.0,2010.0,BV,Toy Story 3,7.7,8340.0,"$1,068,879,522",Lee Unkrich,2010.0
3581590,Toy Story 3,7.0,8.3,NaN,"$415,004,880",652000000,"[16, 10751, 35]","Adventure,Animation,Comedy",10193.0,47.0,...,"Jun 18, 2010",103.0,2010.0,BV,Toy Story 3,7.7,8340.0,"$1,068,879,522",Michael Arndt,2010.0

In [102]:
columns_to_clean = ['domestic_gross', 'foreign_gross', 'worldwide_gross', 'production_budget']
for col in columns_to_clean:
    joined_data[col] = (
        joined_data[col]
        .replace('[\$,]', '', regex=True)  
        .astype(float)  
    )

In [103]:
joined_data.shape

(4088711, 33)

In [104]:
joined_data.columns

Index(['primary_title', 'Unnamed: 0', 'averagerating', 'death_year',
       'domestic_gross', 'foreign_gross', 'genre_ids', 'genres', 'id_x',
       'id_y', 'language', 'movie', 'movie_id', 'numvotes',
       'original_language', 'original_title_x', 'original_title_y',
       'person_id', 'popularity', 'primary_name', 'production_budget',
       'region', 'release_date_x', 'release_date_y', 'runtime_minutes',
       'start_year', 'studio', 'title', 'vote_average', 'vote_count',
       'worldwide_gross', 'writer', 'year'],
      dtype='object')

### Columns to be dropped

In [105]:
columns_to_drop = ['id_x','id_y','original_title_y','original_title_x','release_date_y', 'title','movie','Unnamed: 0', 'language', 'person_id',
                   'genre_ids']
joined_data.drop(columns=columns_to_drop, inplace=True)

In [106]:
joined_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4088711 entries, 0 to 4088710
Data columns (total 22 columns):
 #   Column             Dtype
---  ------             -----
 0   primary_title      object
 1   averagerating      float64
 2   death_year         float64
 3   domestic_gross     float64
 4   foreign_gross      float64
 5   genres             object
 6   movie_id           object
 7   numvotes           float64
 8   original_language  object
 9   popularity         float64
 10  primary_name       object
 11  production_budget  float64
 12  region             object
 13  release_date_x     object
 14  runtime_minutes    float64
 15  start_year         float64
 16  studio             object
 17  vote_average       float64
 18  vote_count         float64
 19  worldwide_gross    float64
 20  writer             object
 21  year               float64
dtypes: float64(13), object(9)
memory usage: 686.3+ MB

# DATA CLEANING

### The percentage of missing values in the dataframe

In [81]:
missing_percentage =joined_data.isnull().mean() * 100
missing_percentage

primary_title         0.000000
averagerating         0.020936
death_year           99.387973
domestic_gross       74.563695
foreign_gross        82.676765
genres                0.155208
movie_id              0.020936
numvotes              0.020936
original_language    44.331526
popularity           44.331526
primary_name          0.020936
production_budget    80.674961
region               12.687911
release_date_x       44.331526
runtime_minutes       2.802228
start_year            0.020936
studio               78.650851
vote_average         44.331526
vote_count           44.331526
worldwide_gross      80.674961
writer                0.020936
year                 78.649775
dtype: float64

### Viewing the columns with the most missing values

In [82]:
columns_high_missing = missing_percentage[missing_percentage > 50]
print(columns_high_missing)

death_year           99.387973
domestic_gross       74.563695
foreign_gross        82.676765
production_budget    80.674961
studio               78.650851
worldwide_gross      80.674961
year                 78.649775
dtype: float64

### Finding the duplicate in the data set

In [83]:
joined_data.duplicated().sum()

np.int64(3426713)

### Descriptive statistics for numerical columns in a DataFrame, including metrics like count, mean, standard deviation, minimum, maximum, and quartiles

In [84]:
joined_data.describe()

,averagerating,death_year,domestic_gross,foreign_gross,numvotes,popularity,production_budget,runtime_minutes,start_year,vote_average,vote_count,worldwide_gross,year
count,4.087855e+06,25024.000000,1.040017e+06,7.082970e+05,4.087855e+06,2.276123e+06,7.901450e+05,3.974136e+06,4.087855e+06,2.276123e+06,2.276123e+06,7.901450e+05,872949.000000
mean,5.970340e+00,2015.669317,9.196555e+07,1.784184e+08,4.018460e+04,9.093209e+00,7.699285e+07,1.074267e+02,2.014166e+03,5.629259e+00,1.312387e+03,3.013527e+08,2014.182845
std,1.120576e+00,3.001822,1.307293e+08,2.102236e+08,1.123185e+05,9.634273e+00,7.708541e+07,2.311716e+01,2.275241e+00,1.175762e+00,2.808399e+03,3.782745e+08,2.252837
min,1.000000e+00,1944.000000,0.000000e+00,6.000000e+02,5.000000e+00,6.000000e-01,1.400000e+03,4.000000e+00,2.010000e+03,0.000000e+00,1.000000e+00,0.000000e+00,2010.000000
25%,5.200000e+00,2014.000000,2.600000e+06,2.360000e+07,9.800000e+01,2.405000e+00,1.000000e+07,9.200000e+01,2.012000e+03,4.800000e+00,1.500000e+01,3.116475e+07,2013.000000
50%,5.900000e+00,2016.000000,2.710827e+07,6.000000e+07,7.980000e+02,7.727000e+00,4.200000e+07,1.020000e+02,2.014000e+03,5.200000e+00,1.480000e+02,1.227372e+08,2014.000000
75%,6.900000e+00,2018.000000,1.398543e+08,3.281000e+08,1.398800e+04,1.248200e+01,1.450000e+08,1.250000e+02,2.016000e+03,6.500000e+00,1.324000e+03,5.175991e+08,2016.000000
max,1.000000e+01,2019.000000,9.367000e+08,9.605000e+08,1.841066e+06,8.077300e+01,4.250000e+08,1.440000e+03,2.019000e+03,1.000000e+01,2.218600e+04,2.776345e+09,2018.000000

### ### Descriptive statistics for categorical columns in a DataFrame, including metrics like count, unique, to and freq

In [85]:
joined_data.describe(include= ['object'])

,primary_title,genres,movie_id,original_language,primary_name,region,release_date_x,studio,writer
count,4088711,4082365,4087855,2276123,4087855,3569939,2276123,872905,4087855
unique,57823,889,60054,67,47312,190,2819,257,72561
top,ABCs of Death 2,"Comedy,Horror",tt2926810,en,James Gunn,US,2014-10-02,BV,Ant Timpson
freq,303831,475361,303831,2009729,21443,819994,303871,157967,15687

# HANDLING MISSING VALUES ON CONTINOUS DATA

### Filling in the missing values of the continuos data with the median

In [86]:
joined_data.fillna(joined_data .select_dtypes(include='number').median(), inplace=True)

#### Confirmantion that the continous data has been filled by the median

In [87]:
missing_percentage =joined_data.isnull().mean() * 100
missing_percentage

primary_title         0.000000
averagerating         0.000000
death_year            0.000000
domestic_gross        0.000000
foreign_gross         0.000000
genres                0.155208
movie_id              0.020936
numvotes              0.000000
original_language    44.331526
popularity            0.000000
primary_name          0.020936
production_budget     0.000000
region               12.687911
release_date_x       44.331526
runtime_minutes       0.000000
start_year            0.000000
studio               78.650851
vote_average          0.000000
vote_count            0.000000
worldwide_gross       0.000000
writer                0.020936
year                  0.000000
dtype: float64

In [88]:
# Calculate the correlation matrix
correlation_matrix = joined_data.corr()

ValueError: could not convert string to float: '#1 Serial Killer'

### The plot of the continous data shows the correlation between each variable with the other

In [ ]:
plt.figure(figsize=(10, 8))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', linewidths=0.5, linecolor='black')
plt.title('Correlations between Continuous Data', fontsize=16)
plt.show()

# HANDLING MISSING VALUES ON CATEGORICAL DATA

### Filling in categorical data is important in data analysis since it improves the model performance,information preservation,data integrity and consistability and Improved visualization

In [ ]:
joined_data.fillna("missing",inplace= True)

### Confirmation that the missing categorical data has been filled in

In [ ]:
missing_percentage =joined_data.isnull().mean() * 100
missing_percentage

Quick clean

In [107]:
missing_percentage =joined_data.isnull().mean() * 100
missing_percentage

primary_title         0.000000
averagerating         0.020936
death_year           99.387973
domestic_gross       74.563695
foreign_gross        82.676765
genres                0.155208
movie_id              0.020936
numvotes              0.020936
original_language    44.331526
popularity           44.331526
primary_name          0.020936
production_budget    80.674961
region               12.687911
release_date_x       44.331526
runtime_minutes       2.802228
start_year            0.020936
studio               78.650851
vote_average         44.331526
vote_count           44.331526
worldwide_gross      80.674961
writer                0.020936
year                 78.649775
dtype: float64

In [108]:
joined_data.duplicated().sum()

np.int64(3426713)

In [109]:
joined_data.drop_duplicates(inplace=True)

In [110]:
joined_data

,primary_title,averagerating,death_year,domestic_gross,foreign_gross,genres,movie_id,numvotes,original_language,popularity,...,region,release_date_x,runtime_minutes,start_year,studio,vote_average,vote_count,worldwide_gross,writer,year
0,#1 Serial Killer,5.6,NaN,NaN,NaN,Horror,tt2346170,40.0,NaN,NaN,...,None,NaN,87.0,2013.0,NaN,NaN,NaN,NaN,Koji Steven Sakai,NaN
1,#1 Serial Killer,5.6,NaN,NaN,NaN,Horror,tt2346170,40.0,NaN,NaN,...,US,NaN,87.0,2013.0,NaN,NaN,NaN,NaN,Koji Steven Sakai,NaN
2,#5,6.8,NaN,NaN,NaN,"Biography,Comedy,Fantasy",tt3120962,6.0,NaN,NaN,...,US,NaN,68.0,2013.0,NaN,NaN,NaN,NaN,Ricky Bardy,NaN
3,#66,5.3,NaN,NaN,NaN,Action,tt5255986,18.0,NaN,NaN,...,ID,NaN,116.0,2015.0,NaN,NaN,NaN,NaN,Asun Mawardi,NaN
4,#66,5.3,NaN,NaN,NaN,Action,tt5255986,18.0,NaN,NaN,...,ID,NaN,116.0,2015.0,NaN,NaN,NaN,NaN,Matthew Ryan Fischer,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4088646,Ã¤rtico,6.6,NaN,NaN,NaN,Drama,tt3509772,101.0,NaN,NaN,...,SE,NaN,78.0,2014.0,NaN,NaN,NaN,NaN,Carlos Unamuno,NaN
4088707,Å iÅ¡ka Deluxe,6.3,NaN,NaN,NaN,"Comedy,Drama",tt4373884,384.0,NaN,NaN,...,None,NaN,108.0,2015.0,NaN,NaN,NaN,NaN,Jan Cvitkovic,NaN
4088708,Å iÅ¡ka Deluxe,6.3,NaN,NaN,NaN,"Comedy,Drama",tt4373884,384.0,NaN,NaN,...,RS,NaN,108.0,2015.0,NaN,NaN,NaN,NaN,Jan Cvitkovic,NaN
4088709,Å iÅ¡ka Deluxe,6.3,NaN,NaN,NaN,"Comedy,Drama",tt4373884,384.0,NaN,NaN,...,SI,NaN,108.0,2015.0,NaN,NaN,NaN,NaN,Jan Cvitkovic,NaN
4088710,Å iÅ¡ka Deluxe,6.3,NaN,NaN,NaN,"Comedy,Drama",tt4373884,384.0,NaN,NaN,...,XWW,NaN,108.0,2015.0,NaN,NaN,NaN,NaN,Jan Cvitkovic,NaN

In [111]:
df_cleaned = joined_data.copy()
df_cleaned.dropna(subset=['foreign_gross', 'domestic_gross', 'worldwide_gross'], inplace=True)

In [112]:
df_cleaned

,primary_title,averagerating,death_year,domestic_gross,foreign_gross,genres,movie_id,numvotes,original_language,popularity,...,region,release_date_x,runtime_minutes,start_year,studio,vote_average,vote_count,worldwide_gross,writer,year
22262,10 Cloverfield Lane,7.2,NaN,72082999.0,38100000.0,"Drama,Horror,Mystery",tt1179933,260383.0,en,17.892,...,None,2016-03-11,103.0,2016.0,Par.,6.9,4629.0,1.082864e+08,Josh Campbell,2016.0
22263,10 Cloverfield Lane,7.2,NaN,72082999.0,38100000.0,"Drama,Horror,Mystery",tt1179933,260383.0,en,17.892,...,None,2016-03-11,103.0,2016.0,Par.,6.9,4629.0,1.082864e+08,Matthew Stuecken,2016.0
22264,10 Cloverfield Lane,7.2,NaN,72082999.0,38100000.0,"Drama,Horror,Mystery",tt1179933,260383.0,en,17.892,...,None,2016-03-11,103.0,2016.0,Par.,6.9,4629.0,1.082864e+08,Damien Chazelle,2016.0
22265,10 Cloverfield Lane,7.2,NaN,72082999.0,38100000.0,"Drama,Horror,Mystery",tt1179933,260383.0,en,17.892,...,AR,2016-03-11,103.0,2016.0,Par.,6.9,4629.0,1.082864e+08,Josh Campbell,2016.0
22266,10 Cloverfield Lane,7.2,NaN,72082999.0,38100000.0,"Drama,Horror,Mystery",tt1179933,260383.0,en,17.892,...,AR,2016-03-11,103.0,2016.0,Par.,6.9,4629.0,1.082864e+08,Matthew Stuecken,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4077117,Zootopia,8.0,NaN,341268248.0,682500000.0,"Adventure,Animation,Comedy",tt2948356,383446.0,en,27.549,...,VN,2016-03-04,108.0,2016.0,BV,7.7,9977.0,1.019430e+09,Kellie D. Lewis,2016.0
4077118,Zootopia,8.0,NaN,341268248.0,682500000.0,"Adventure,Animation,Comedy",tt2948356,383446.0,en,27.549,...,VN,2016-03-04,108.0,2016.0,BV,7.7,9977.0,1.019430e+09,Jared Bush,2016.0
4077119,Zootopia,8.0,NaN,341268248.0,682500000.0,"Adventure,Animation,Comedy",tt2948356,383446.0,en,27.549,...,VN,2016-03-04,108.0,2016.0,BV,7.7,9977.0,1.019430e+09,Jennifer Lee,2016.0
4077120,Zootopia,8.0,NaN,341268248.0,682500000.0,"Adventure,Animation,Comedy",tt2948356,383446.0,en,27.549,...,VN,2016-03-04,108.0,2016.0,BV,7.7,9977.0,1.019430e+09,Phil Johnston,2016.0
4077121,Zootopia,8.0,NaN,341268248.0,682500000.0,"Adventure,Animation,Comedy",tt2948356,383446.0,en,27.549,...,VN,2016-03-04,108.0,2016.0,BV,7.7,9977.0,1.019430e+09,Josie Trinidad,2016.0

In [113]:
missing_percentage =df_cleaned.isnull().mean() * 100
missing_percentage

primary_title         0.000000
averagerating         0.000000
death_year           99.482512
domestic_gross        0.000000
foreign_gross         0.000000
genres                0.008641
movie_id              0.000000
numvotes              0.000000
original_language     0.386916
popularity            0.386916
primary_name          0.000000
production_budget     0.000000
region                3.855718
release_date_x        0.386916
runtime_minutes       0.072007
start_year            0.000000
studio                0.000000
vote_average          0.386916
vote_count            0.386916
worldwide_gross       0.000000
writer                0.000000
year                  0.000000
dtype: float64

In [114]:
df_cleaned['death_year'].fillna(-1, inplace=True)

/var/folders/sh/s_xv2d8x6kv1_qyc9qgmkv300000gn/T/ipykernel_2139/4038691889.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['death_year'].fillna(-1, inplace=True)

In [115]:
df_cleaned.isnull().mean() * 100

primary_title        0.000000
averagerating        0.000000
death_year           0.000000
domestic_gross       0.000000
foreign_gross        0.000000
genres               0.008641
movie_id             0.000000
numvotes             0.000000
original_language    0.386916
popularity           0.386916
primary_name         0.000000
production_budget    0.000000
region               3.855718
release_date_x       0.386916
runtime_minutes      0.072007
start_year           0.000000
studio               0.000000
vote_average         0.386916
vote_count           0.386916
worldwide_gross      0.000000
writer               0.000000
year                 0.000000
dtype: float64

In [116]:
df_cleaned['original_language'].fillna("Unknown", inplace=True)
df_cleaned['region'].fillna("Unknown", inplace=True)
df_cleaned['runtime_minutes'].fillna(df_cleaned['runtime_minutes'].mean(), inplace=True)

/var/folders/sh/s_xv2d8x6kv1_qyc9qgmkv300000gn/T/ipykernel_2139/3399059270.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['original_language'].fillna("Unknown", inplace=True)
/var/folders/sh/s_xv2d8x6kv1_qyc9qgmkv300000gn/T/ipykernel_2139/3399059270.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['region'].fillna("Unknown", inplace=True)
/var/folders/sh/s_xv2d8x6kv1_qyc9qgmkv300000gn/T/ipykernel_2139/3399059270.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['runtime_minutes'].fillna(df_cleaned['runtime_minutes'].mean(), inplace=True)

In [117]:
df_cleaned.isnull().mean() * 100

primary_title        0.000000
averagerating        0.000000
death_year           0.000000
domestic_gross       0.000000
foreign_gross        0.000000
genres               0.008641
movie_id             0.000000
numvotes             0.000000
original_language    0.000000
popularity           0.386916
primary_name         0.000000
production_budget    0.000000
region               0.000000
release_date_x       0.386916
runtime_minutes      0.000000
start_year           0.000000
studio               0.000000
vote_average         0.386916
vote_count           0.386916
worldwide_gross      0.000000
writer               0.000000
year                 0.000000
dtype: float64

In [118]:
df_cleaned.dropna(axis=0, inplace=True)

In [119]:
df_cleaned.isnull().mean() * 100

primary_title        0.0
averagerating        0.0
death_year           0.0
domestic_gross       0.0
foreign_gross        0.0
genres               0.0
movie_id             0.0
numvotes             0.0
original_language    0.0
popularity           0.0
primary_name         0.0
production_budget    0.0
region               0.0
release_date_x       0.0
runtime_minutes      0.0
start_year           0.0
studio               0.0
vote_average         0.0
vote_count           0.0
worldwide_gross      0.0
writer               0.0
year                 0.0
dtype: float64

In [120]:
df_cleaned.duplicated().sum()

np.int64(0)

In [121]:
df_cleaned

,primary_title,averagerating,death_year,domestic_gross,foreign_gross,genres,movie_id,numvotes,original_language,popularity,...,region,release_date_x,runtime_minutes,start_year,studio,vote_average,vote_count,worldwide_gross,writer,year
22262,10 Cloverfield Lane,7.2,-1.0,72082999.0,38100000.0,"Drama,Horror,Mystery",tt1179933,260383.0,en,17.892,...,Unknown,2016-03-11,103.0,2016.0,Par.,6.9,4629.0,1.082864e+08,Josh Campbell,2016.0
22263,10 Cloverfield Lane,7.2,-1.0,72082999.0,38100000.0,"Drama,Horror,Mystery",tt1179933,260383.0,en,17.892,...,Unknown,2016-03-11,103.0,2016.0,Par.,6.9,4629.0,1.082864e+08,Matthew Stuecken,2016.0
22264,10 Cloverfield Lane,7.2,-1.0,72082999.0,38100000.0,"Drama,Horror,Mystery",tt1179933,260383.0,en,17.892,...,Unknown,2016-03-11,103.0,2016.0,Par.,6.9,4629.0,1.082864e+08,Damien Chazelle,2016.0
22265,10 Cloverfield Lane,7.2,-1.0,72082999.0,38100000.0,"Drama,Horror,Mystery",tt1179933,260383.0,en,17.892,...,AR,2016-03-11,103.0,2016.0,Par.,6.9,4629.0,1.082864e+08,Josh Campbell,2016.0
22266,10 Cloverfield Lane,7.2,-1.0,72082999.0,38100000.0,"Drama,Horror,Mystery",tt1179933,260383.0,en,17.892,...,AR,2016-03-11,103.0,2016.0,Par.,6.9,4629.0,1.082864e+08,Matthew Stuecken,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4077117,Zootopia,8.0,-1.0,341268248.0,682500000.0,"Adventure,Animation,Comedy",tt2948356,383446.0,en,27.549,...,VN,2016-03-04,108.0,2016.0,BV,7.7,9977.0,1.019430e+09,Kellie D. Lewis,2016.0
4077118,Zootopia,8.0,-1.0,341268248.0,682500000.0,"Adventure,Animation,Comedy",tt2948356,383446.0,en,27.549,...,VN,2016-03-04,108.0,2016.0,BV,7.7,9977.0,1.019430e+09,Jared Bush,2016.0
4077119,Zootopia,8.0,-1.0,341268248.0,682500000.0,"Adventure,Animation,Comedy",tt2948356,383446.0,en,27.549,...,VN,2016-03-04,108.0,2016.0,BV,7.7,9977.0,1.019430e+09,Jennifer Lee,2016.0
4077120,Zootopia,8.0,-1.0,341268248.0,682500000.0,"Adventure,Animation,Comedy",tt2948356,383446.0,en,27.549,...,VN,2016-03-04,108.0,2016.0,BV,7.7,9977.0,1.019430e+09,Phil Johnston,2016.0
4077121,Zootopia,8.0,-1.0,341268248.0,682500000.0,"Adventure,Animation,Comedy",tt2948356,383446.0,en,27.549,...,VN,2016-03-04,108.0,2016.0,BV,7.7,9977.0,1.019430e+09,Josie Trinidad,2016.0

In [122]:
df_cleaned['death_year'] = pd.to_datetime(df_cleaned['death_year'], format='%Y')

ValueError: time data "-1" doesn't match format "%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [51]:
df_cleaned['death_year'] = df_cleaned['death_year'].dt.year

In [53]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 517 entries, 672880 to 3734779
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   primary_title      517 non-null    object
 1   averagerating      517 non-null    float64
 2   death_year         517 non-null    int32
 3   domestic_gross     517 non-null    float64
 4   foreign_gross      517 non-null    float64
 5   genres             517 non-null    object
 6   movie_id           517 non-null    object
 7   numvotes           517 non-null    float64
 8   original_language  517 non-null    object
 9   popularity         517 non-null    float64
 10  primary_name       517 non-null    object
 11  production_budget  517 non-null    object
 12  region             517 non-null    object
 13  release_date_x     517 non-null    object
 14  runtime_minutes    517 non-null    float64
 15  start_year         517 non-null    float64
 16  studio             517 non-null    object
 17  vote_average       517 non-null    float64
 18  vote_count         517 non-null    float64
 19  worldwide_gross    517 non-null    float64
 20  writer             517 non-null    object
 21  year               517 non-null    float64
dtypes: float64(11), int32(1), object(10)
memory usage: 90.9+ KB

In [54]:
df_cleaned['release_date_x'] = pd.to_datetime(df_cleaned['release_date_x'], format='%Y-%m-%d')
df_cleaned['release_date_x']

672880    2011-09-23
672881    2011-09-23
672882    2011-09-23
672883    2011-09-23
672884    2011-09-23
             ...
3734775   2010-02-11
3734776   2010-02-11
3734777   2010-02-11
3734778   2010-02-11
3734779   2010-02-11
Name: release_date_x, Length: 517, dtype: datetime64[ns]

In [56]:
df_cleaned.rename(columns={'primary_title' : "title", 'primary_name': 'director', 'release_date_x': 'release_date'}, inplace=True)

In [57]:
df_cleaned

,title,averagerating,death_year,domestic_gross,foreign_gross,genres,movie_id,numvotes,original_language,popularity,...,region,release_date,runtime_minutes,start_year,studio,vote_average,vote_count,worldwide_gross,writer,year
672880,Abduction,5.1,2019,28087155.0,54000000.0,"Action,Mystery,Thriller",tt1600195,72552.0,en,17.690,...,AR,2011-09-23,106.0,2011.0,LGF,5.8,1791.0,86648359.0,Shawn Christensen,2011.0
672881,Abduction,5.1,2019,28087155.0,54000000.0,"Action,Mystery,Thriller",tt1600195,72552.0,en,17.690,...,BG,2011-09-23,106.0,2011.0,LGF,5.8,1791.0,86648359.0,Shawn Christensen,2011.0
672882,Abduction,5.1,2019,28087155.0,54000000.0,"Action,Mystery,Thriller",tt1600195,72552.0,en,17.690,...,BR,2011-09-23,106.0,2011.0,LGF,5.8,1791.0,86648359.0,Shawn Christensen,2011.0
672883,Abduction,5.1,2019,28087155.0,54000000.0,"Action,Mystery,Thriller",tt1600195,72552.0,en,17.690,...,CA,2011-09-23,106.0,2011.0,LGF,5.8,1791.0,86648359.0,Shawn Christensen,2011.0
672884,Abduction,5.1,2019,28087155.0,54000000.0,"Action,Mystery,Thriller",tt1600195,72552.0,en,17.690,...,CL,2011-09-23,106.0,2011.0,LGF,5.8,1791.0,86648359.0,Shawn Christensen,2011.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3734775,Valentine's Day,5.7,2016,110485654.0,106000000.0,"Comedy,Romance",tt0817230,107171.0,en,11.187,...,US,2010-02-11,125.0,2010.0,WB (NL),5.8,1907.0,217569328.0,Abby Kohn,2010.0
3734776,Valentine's Day,5.7,2016,110485654.0,106000000.0,"Comedy,Romance",tt0817230,107171.0,en,11.187,...,US,2010-02-11,125.0,2010.0,WB (NL),5.8,1907.0,217569328.0,Marc Silverstein,2010.0
3734777,Valentine's Day,5.7,2016,110485654.0,106000000.0,"Comedy,Romance",tt0817230,107171.0,en,11.187,...,UY,2010-02-11,125.0,2010.0,WB (NL),5.8,1907.0,217569328.0,Katherine Fugate,2010.0
3734778,Valentine's Day,5.7,2016,110485654.0,106000000.0,"Comedy,Romance",tt0817230,107171.0,en,11.187,...,UY,2010-02-11,125.0,2010.0,WB (NL),5.8,1907.0,217569328.0,Abby Kohn,2010.0
3734779,Valentine's Day,5.7,2016,110485654.0,106000000.0,"Comedy,Romance",tt0817230,107171.0,en,11.187,...,UY,2010-02-11,125.0,2010.0,WB (NL),5.8,1907.0,217569328.0,Marc Silverstein,2010.0

In [123]:
df_cleaned.to_csv('cleaned_data.csv')